<div>
  <% @orders.each do |order| %>
    <h1>Order: <%= order.party_id %></h1>
      <% order.items.each do |item| %>
        <div>
          Item: <%= item.name %><br />
          Price: $<%= item.price %><br />
        </div>
      <% end %>
      <button><%= link_to "Delete", order_path(order), :method => :delete %></button>
    <br />
    <% end %>
</div>
